#
# Template configuration file for server environment
# used by the release shell scripts.
#

# Base PATH where VCS checkouts are located
# Code is located in version specific subdirectories named 'squid-*'
SQUID_VCS_PATH="/var/local/vcs"

# Base PATH where WWW server files are located
SQUID_WWW_PATH="/var/www"

# Base PATH where rsync shares are located
SQUID_RSYNC_PATH="/var/rsync"

# Hostname of server performing CI tasks
SQUID_CI_SERVER="example.com.invalid"
